@media (max-width: 600px) {

    @media (max-width: 600px) {
        .menu-toggle {
            display: block;
            width: 30%; 
            text-align: center; 
            margin-top: 10px; 
            border-radius: 10px;
            margin-bottom: 15px;
        }
        
        menu a, menu select {
            display: none;
        }
        
        menu.open a, menu.open select {
            display: block;
            text-align: center; 
            width: 100%;
        }
    }

    menu {
        flex-direction: column; 
        padding: 0 10px; 
    }
    menu a {
        margin: 10px 0; 
    }
    .footer-links {
        flex-direction: column;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    menu {
        width: 90%;
    }
    .footer-links {
        gap: 10px;
    }
}

@media (min-width: 1025px) {
    menu {
        width: 80%; 
    }
    .footer-links {
        gap: 20px; 
    }
}